<div class="col">

    <div class="card h-80 border-dark">
      <div class="card-header justify-content-center" >
        <%= link_to image_tag(item.image, class:"card-img-top", width:"100",height:"100")%>
      </div>
      <div class="card-body">
        <%= link_to item.name, shop_item_path(item.id), class:"card__summary link-dark stretched-link" %>
      </div>
      <div class="card-footer">
        <p class="card__summary">
        <span>￥</span><%= item.price %>
        </p>
      </div>
    </div>

</div>
