<div class ="navbar navbar-light bg-light">
  <div class="container-fluid heading">
    <a class="navbar-brand header_title" href="/">
    <%= image_tag "takeout_coffee" ,class:"d-inline-block takeout-icon"%>
      TAKEOUT in Nagaoka
    </a>
  </div>
</div>