<%= render "shared/header" %>


<%# 画面上部 %>
<div class="container">
  <div class='text-image'>
    <img src="https://picsum.photos/1500/500" class="img-fluid" alt="textimage">
    <p></p>
	</div>
</div>

<%= render "shared/footer" %>