<%= render "shared/header" %>
<div class="container">

<%# 画面上部 %>
  <div class="card__wrapper">
    <%= render partial: "shop", collection: @shop %>
  </div>


  <div class='text-image'>
    <%= image_tag "PAK85_yakisobatotamago20130824_TP_V.jpg" %>
    <p>
    事前注文＆決済が可能！テイクアウト注文に特化したサービスです。<br>
    新潟県長岡市にある大好きなお店、気になるお店の味をご自宅で！
    </p>
	</div>
</div>

<%= render "shared/footer" %>