
<div class="card">
  <%# <%= link_to image_tag( @shop.image, class: :card__img), shop_path(shop.id) %> 
  <div class="card__body">
    <%# <%= link_to @shop.name, shop_path(shop.id), class: :card__title%> 
    <p class="card__summary">
      <%# <%= @shop.text %> 
    </p>
    <%# <%= link_to shop.user.name, user_path(prototype.user_id), class: :card__user %>
  </div>
</div>