<% if user_signed_in?%>
  <button class="btn btn-outline-success btn-lg" type="button">このお店で注文する</button>
<% elsif shop_signed_in?%>
<% else %>
  <button class="btn btn-outline-success btn-lg" type="button">このお店で注文する</button>
<% end %>