/* shops/index */
.text-image{
  position: relative;
  width: 100%;
}

.text-image img{
  width: 100%;
  height: auto;
  background: White;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.text-image p{
  position: absolute;
  bottom: 10%;
  left: 20px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

/* form-wrapは商品購入画面でも使用しています */
.form-wrap {
  width: 80%;
  background-color: #FFF;
  padding-bottom: 20px;
  margin:10px 0;
}

.form__btn{
  display: inline-block;
  /* padding: 0.4em 1.6em; */
  /* font-size: 0.8em; */
  color: #fff;
  text-decoration: none;
  /* user-select: none; */
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  width: 50%;
  margin: 0 auto;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.actions{
  margin: 20px 0;
  
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
  /* font-weight: bold; */
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;

}

.form-group {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.form__text{
  width: 100%;
  margin-top: 5px;
  height: 100px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}

.info-text {
  color: #888;
  font-size: 13px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-time-wrap {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
}

.input-time-wrap select {
  width: 80px;
  margin: 10px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  background: white;
}

.form-time-wrap {
  width: 100%;
  height: 20%;
}

.form-time{
  font-size: 14px;
  font-weight: bold;
}


.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  width: 80%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}
.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 30px;
}


body, main {
  font-family: sans-serif;
	margin: 10px;
  color: #f8f9fa;
}


/* 飲食店一覧 */

.shop-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0;
}

.shop-title {
  font-size: 3vh;
  text-decoration: none;
  color:grey;
  font-weight: bold;
  margin: 0 0 0 20px;
}

.shop-list {
  margin-top: 10px;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 5vh;
  width: 100%;
  margin-top: 20px;
  list-style: none;
}

/* menu投稿 */
.purchase-btn {
  width: 150px;
  height: 150px;
  background: #FFF;
  border:blue solid 4px;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-shadow: 2px 2px 5px;
}

.purchase-btn-text {
  color: black;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
  height: 70px;
}


/* shops/show */
.shop-navs{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.shop_lists{
  display: flex;
  flex-direction : column;
  justify-content:flex-start;
  width: 100%;
  margin-left: 30px;
}

.shop_list{
  color: rgb(210, 99, 99);
  margin: 2px 0;
  list-style: square;
  font-size: small;
}
.shop-nav img {
  width: 40vw;
  height: 40vh;
}
.shop_list div {
  color: black;
}

/* items/show */

.item_lists{
  color: black;
  margin: 2px 0;
  list-style: square;
}

.item_lists li {
  color: rgb(210, 99, 99);
  margin: 2px 0;
  list-style: square;

}