.text-image{
  position: relative;
}

.text-image img{
  max-width: 100%;
  height: auto;
}

.text-image p{
  position: absolute;
  top: 50%;
  left: 39%;
  font-size: 60px;
  color: #ffffff;
}

/* footer */
/* .takeout-details{
  display: flex;

} */