/* header */
.tab-wrap {
	background: White;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 10px;
}

.tab-label {
	color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

.tab-label:hover {
	background: rgba(0, 191, 255,.1);
}

.tab-switch:checked + .tab-label {
	color: DeepSkyBlue;
}

.tab-label::after {
	background: DeepSkyBlue;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content {
	height:0;
	opacity:0;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch:checked ~ .tab-content {
	transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap::after {
	content: '';
	height: 5px;
	order: -1;
	width: 100%;
}

.tab-switch {
	display: none;
}

.heading {
  width: 100%;
  padding: 10px 30px;
  margin: 10px 0;
  /* font-size: 20px; */
  /* color: deepskyblue; */
  height: 50px;
  display: flex;
  /* background-color: papayawhip; */
  /* font-weight: bold; */
}

.header_title{
  color: black;
  font-weight: bold;
  /* margin: 0 0 0 30px; */
}

/* footer */
.takeout-details{
  font-size: 10px;
}

.registration-main {
  width: 100%;
  /* min-width: 800px; */
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}

.footer-contents{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer-content{
  color: black;
}

/* shop/index */
.text-image{
  position: relative;
  width: 100%;
}

.text-image img{
  width: 100%;
  height: auto;
  background: White;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.text-image p{
  position: absolute;
  bottom: 10%;
  left: 20px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

/* form-wrapは商品購入画面でも使用しています */
.form-wrap {
  width: 80%;
  background-color: #FFF;
  padding-bottom: 20px;
  margin:10px 0;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;

}

.form-group {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.form__text{
  width: 100%;
  margin-top: 5px;
  height: 100px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-time-wrap {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
}

.input-time-wrap select {
  width: 80px;
  margin: 10px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  background: white;
}

.form-time-wrap {
  width: 100%;
  height: 20%;
}

.form-time{
  font-size: 14px;
  font-weight: bold;
}


.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  width: 80%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}
.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 30px;
}


body {
  font-family: sans-serif;
	margin: 10px;
}


/* 飲食店一覧 */

.shop-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0;
  margin-top: 20px;
}

.shop-contents.shop-name {
  font-size: 3vh;
  line-height: 1.4;
  font-weight: bold;
}

.shop-title {
  font-size: 3vh;
  text-decoration: none;
  color: darkgrey;
  font-weight: bold;
  margin: 0 0 0 20px;
}

.shop-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin-top: 20px;
}

.shop-lists>.list {
  padding: 1vw;
  background-color: #FFF;
}


.shop-img-content {
  position: relative;
}

.shop-img {
  width: 25vh;
  height: 25vh;
}

.shop-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.shop-name {
  font-size: 2.5vh;
}


/* //飲食店一覧 */

/* _shop.html */
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;

}
.card {
  width: calc((100% - 60px) / 3);
  margin-bottom: 40px;
  background-color: #999;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
/* .card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
} */
